<section class="grid grid-cols-2 grid-rows-2 sm:grid-cols-4 sm:grid-rows-1">
  <div>
    <picture>
      <source
        media="(min-width: 640px)"
        src="/assets/desktop/image-gallery-milkbottles.jpg"
      />
      <img
        src="/assets/mobile/image-gallery-milkbottles.jpg"
        alt="milkbottles"
      />
    </picture>
  </div>
  <div>
    <picture>
      <source
        media="(min-width: 640px)"
        src="/assets/desktop/image-gallery-orange.jpg"
      />
      <img src="/assets/mobile/image-gallery-orange.jpg" alt="milkbottles" />
    </picture>
  </div>
  <div>
    <picture>
      <source
        media="(min-width: 640px)"
        src="/assets/desktop/image-gallery-cone.jpg"
      />
      <img src="/assets/mobile/image-gallery-cone.jpg" alt="milkbottles" />
    </picture>
  </div>
  <div>
    <picture>
      <source
        media="(min-width: 640px)"
        src="/assets/desktop/image-gallery-sugarcubes.jpg"
      />
      <img
        src="/assets/mobile/image-gallery-sugar-cubes.jpg"
        alt="milkbottles"
      />
    </picture>
  </div>
</section>
