---
import Navbar from "../components/Navbar.astro";
import Arrow from "../components/icons/Arrow.astro";
---

<section
  class="max-w-full h-screen bg-hero-mobile md:bg-hero-desktop bg-cover bg-center bg-no-repeat p-8 md:p-12"
>
  <Navbar />
  <section class="w-full flex flex-col items-center justify-center mt-24">
    <h1
      class="font-headings text-7xl sm:text-5xl uppercase text-white font-bold tracking-[0.3em] text-center leading-[5rem] sm:leading-normal"
    >
      We're creatives
    </h1>
    <Arrow arrowClass="mt-16" />
  </section>
</section>
