---
import "@fontsource/barlow";
import "@fontsource/fraunces";
---

<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>SunnySide</title>
  </head>
  <body class="min-h-screen max-w-full font-body">
    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-width: 100vh;
  }
</style>
